In [1]:
import numpy as np
import pandas as pd

In [28]:
a = ["AXO145", "TRU151", "ZOD231", "YRT326", "LWR245"]
b = ["<url>https://xcd32112.smart_meter.com</url>",
                    "<url>http://tXh67.dia_meter.com</url>",
                    "<url>http://yT5495.smart_meter.com</url>",
                    "<url>https://ret323_TRu.crown.com</url>",
                    "<url>https://luwr3243.celcius.com</url>"]
x = "<url>https://xcd32112.smart_meter.com</url>"
y = "<url>http://tXh67.dia_meter.com</url>"
z = "<url>http://yT5495.smart_meter.com</url>"
t = "<url>https://ret323_TRu.crown.com</url>"
p = "<url>https://luwr3243.celcius.com</url>"

In [5]:
df_Device_Type = pd.DataFrame(a, columns=["Device_Type"])
df_Stats_Access_Link = pd.DataFrame(b, columns =["Stats_Access_Link"])

In [12]:
data = pd.concat([df_Device_Type, df_Stats_Access_Link], axis = 1)
data

  Device_Type                            Stats_Access_Link
0      AXO145  <url>https://xcd32112.smart_meter.com</url>
1      TRU151        <url>http://tXh67.dia_meter.com</url>
2      ZOD231     <url>http://yT5495.smart_meter.com</url>
3      YRT326      <url>https://ret323_TRu.crown.com</url>
4      LWR245      <url>https://luwr3243.celcius.com</url>

In [19]:
result_x = x.strip("</url>https:")
result_x

'xcd32112.smart_meter.com'

In [31]:
result_y = y.strip("</url>https:")
result_y

'Xh67.dia_meter.com'

In [25]:
result_z = z.strip("</url>https:")
result_z

'yT5495.smart_meter.com'

In [26]:
result_t = t.strip("</url>https:")
result_t

'et323_TRu.crown.com'

In [27]:
result_p = p.strip("</url>https:")
result_p

'wr3243.celcius.com'

In [32]:
results = ['xcd32112.smart_meter.com',
          'Xh67.dia_meter.com',
          'yT5495.smart_meter.com',
          'et323_TRu.crown.com',
          'wr3243.celcius.com']

In [33]:
df_links = pd.DataFrame(results, columns=["Links"])

In [34]:
data_with_links= pd.concat([df_Device_Type, df_Stats_Access_Link, df_links], axis = 1)
data_with_links

,Device_Type,Stats_Access_Link,Links
0,AXO145,<url>https://xcd32112.smart_meter.com</url>,xcd32112.smart_meter.com
1,TRU151,<url>http://tXh67.dia_meter.com</url>,Xh67.dia_meter.com
2,ZOD231,<url>http://yT5495.smart_meter.com</url>,yT5495.smart_meter.com
3,YRT326,<url>https://ret323_TRu.crown.com</url>,et323_TRu.crown.com
4,LWR245,<url>https://luwr3243.celcius.com</url>,wr3243.celcius.com